<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasa de cambio y productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <main>
    <h1><strong>Descripción:</strong> <%= descripcion %></h1>
    <div class="container cont"><p><strong>Valor de la tasa de cambio: $</strong> <%= valorTasaCambio %>  <strong>Fecha:</strong> <%= fecha %></p></div>
        <div class="canje col-6">
    <h2>Convertir a Pesos</h2>
    <input type="number" id="value" placeholder="Ingrese el monto"></input> 
    <button onclick="convertir(<%=valorTasaCambio%>)">Convertir</button>  
    <div class="resul"> 
    <p id="resultado"></p>
    
</div> 
</div>
    <div class="container col-6">
        <h2>Productos</h2> 
    <div class="card">
        <img src="https://http2.mlstatic.com/D_NQ_NP_660833-MLU72732453069_112023-O.webp" alt="taladro precutor Bosch">
    
        <% productos.forEach(function(producto) { %>
            <li><%= producto.nombre %>: $<%= producto.precio %> <br> <%= producto.marca %> <br><%= producto.desc %>
                <!-- Botón para pagar cada producto -->
                <form action="/pagar" method="post">
                    <input type="hidden" name="orden_de_compra" value="<%= producto.id %>">
                    <input type="hidden" name="monto" value="<%= producto.precio %>">
                    <button type="submit">Pagar</button>
                </form>
            </li>
        <% }); %>
    
</div>
</div>
    <script>
        async function convertir(valorTasaCambio) {
            const value = document.getElementById('value').value;
            const resultado = value * valorTasaCambio;
            document.getElementById('resultado').innerText = `El resultado de la conversión es: ${resultado.toLocaleString('es-ES', { style: 'currency', currency: 'CLP' })}`;
        }
    </script>

</main>
|   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>
