<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasa de cambio y productos</title>
    <link rel="stylesheet" href="../public/css/card.css" />
</head>
<body>
    <h1><strong>Descripción:</strong> <%= descripcion %></h1>
    <p><strong>Valor de la tasa de cambio:</strong> <%= valorTasaCambio %></p>
    <p><strong>Fecha:</strong> <%= fecha %></p>

    <h2>Convertir a Pesos</h2>
    <input type="number" id="value" placeholder="Ingrese el monto"></input> 
    <button onclick="convertir(<%=valorTasaCambio%>)">Convertir</button>  

    <p id="resultado"></p>

    <h2>Productos</h2> 
    <ul>
        <% productos.forEach(function(producto) { %>
            <li><%= producto.nombre %>: <%= producto.precio %> <br> <%= producto.marca %> <br><%= producto.desc %>
                <!-- Botón para pagar cada producto -->
                <form action="/pagar" method="post">
                    <input type="hidden" name="orden_de_compra" value="<%= producto.id %>">
                    <input type="hidden" name="monto" value="<%= producto.precio %>">
                    <button type="submit">Pagar</button>
                </form>
            </li>
        <% }); %>
    </ul>

    <script>
        async function convertir(valorTasaCambio) {
            const value = document.getElementById('value').value;
            const resultado = value * valorTasaCambio;
            document.getElementById('resultado').innerText = `El resultado de la conversión es: ${resultado.toLocaleString('es-ES', { style: 'currency', currency: 'CLP' })}`;
        }
    </script>

</body>
</html>
